<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- Для настройки многопоточности раскомментировать строчку -->
<!-- текущий suite закомментировать -->
<!--<suite name="Suite" verbose="1" parallel="tests" thread-count="3">-->
<suite name="Suite" verbose="1" parallel="none" thread-count="1">
    <test name="DemoQATests">
        <groups>
            <run>
                <exclude name="broken"/>
            </run>
        </groups>
        <classes>
            <class name="UI.MainPageTest"/>
            <class name="UI.TextBox"/>
            <class name="UI.CheckBoxTest"/>
            <class name="UI.RadioButtonTest"/>
            <class name="UI.ButtonTest"/>
            <class name="UI.LinksTest"/>
            <class name="UI.BrokenLinksTest"/>
            <class name="UI.DownloadUploadTest"/>
            <class name="UI.DynamicPropertiesTest"/>
            <class name="UI.SelectMenuTest"/>
        </classes>
    </test>
<!--    <test name="GoogleTests">-->
<!--        <classes>-->
<!--            <class name="UI.GoogleTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="SauceDemoTests">-->
<!--        <classes>-->
<!--            <class name="UI.SauceDemoTest"/>-->
<!--        </classes>-->
<!--    </test>-->

    <listeners>
        <listener class-name="utils.ExtentTestNGListener"/>
    </listeners>
</suite>